.header--container {
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding: 20px 37px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--heading {
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--logo {
    width: 32px;
    height: 27px;
}

.header--title {
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: -0.1em;
    color: #FFFFFF;
}

.header--projectNo {
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}